* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.main .navbar {
  height: 100%;
  width: 100%;
}
.main .navbar .box1 {
  height: 10%;
  width: 100%;
}
.main .navbar .box1 .b1 {
  height: 100%;
  width: 40%;
  margin-left: 55%;
  display: flex;
  gap: 10px;
}
.main .navbar .box1 .b1 .b {
  flex: 1;
  padding: 10px;
}
.main .navbar .box1 .b1 .b a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  gap: 10px;
}
.main .navbar .box1 .b2 {
  height: 10%;
  width: 15%;
  position: absolute;
  top: 0%;
  left: 5%;
}
.main .navbar .box2 {
  height: 70%;
  width: 100%;
  background: #7bcae9;
}
.main .navbar .box2 .bp {
  height: 100%;
  width: 100%;
  background: #000;
}
.main .navbar .box2 .bp img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.main .navbar .box3 {
  height: 50%;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 20px;
  align-content: space-evenly;
}
.main .navbar .box3 .b3 {
  flex: 1;
  padding: 20px;
}